name: Check linting, typing, run app unit tests and upload coverage report

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read
  pull-requests: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check-all:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Python 3.14
        uses: actions/setup-python@v6
        with:
          python-version: '3.14'

      - name: Set up uv
        uses: astral-sh/setup-uv@v7

      - name: Set up just
        uses: extractions/setup-just@v3

      - name: Install dependencies
        run: just install

      - name: Run linting checks
        run: just lint

      - name: Run typing checks
        run: just typing

      - name: Run test coverage
        run: just cov

      - name: Upload coverage report
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: htmlcov

      - name: Pytest coverage reporter (PR only)
        if: ${{ github.event_name == 'pull_request' }}
        uses: dima-engineer/pytest-reporter@v4
        with:
          cov-omit-list: tests/*
          #cov-threshold-single: 85
          #cov-threshold-total: 90
          async-tests: true
          uv-version: latest
